node-red-flows/flow1.json
[{"type":"tab","id":"171de6b4.e8e219","label":"Flow 1"},{"type":"tab","id":"d836b0cd.27c95","label":"Flow 1"},{"id":"3bea511e.c415ae","type":"mqtt-broker","z":"171de6b4.e8e219","broker":"vme-1.automation-du.de","port":"80","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"32839739.cd7c68","type":"mqtt-broker","z":"171de6b4.e8e219","broker":"croft.thethings.girovito.nl","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"112f1374.eed0ed","type":"mongodb","z":"171de6b4.e8e219","hostname":"127.0.0.1","port":"27017","db":"cttDB","name":""},{"id":"7c95719c.836a9","type":"mqtt-broker","z":"d836b0cd.27c95","broker":"vme-1.automation-du.de","port":"80","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"47189883.b8e768","type":"mqtt-broker","z":"d836b0cd.27c95","broker":"croft.thethings.girovito.nl","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c764263e.389bd8","type":"mongodb","z":"d836b0cd.27c95","hostname":"127.0.0.1","port":"27017","db":"cttDB","name":""},{"id":"8fb98642.704678","type":"websocket-listener","z":"d836b0cd.27c95","path":"/ws","wholemsg":"false"},{"id":"6149f525.9eb60c","type":"mqtt in","z":"171de6b4.e8e219","name":"TTN 02032201","topic":"nodes/02032201/packets","broker":"32839739.cd7c68","x":180,"y":140,"wires":[["c5b8875e.3a4778","f1936480.0e6c98"]]},{"id":"c5b8875e.3a4778","type":"debug","z":"171de6b4.e8e219","name":"","active":true,"console":"false","complete":"false","x":370,"y":40,"wires":[]},{"id":"e8a1c490.175e38","type":"mongodb out","z":"171de6b4.e8e219","mongodb":"112f1374.eed0ed","name":"","collection":"ttn","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":710,"y":140,"wires":[]},{"id":"f1936480.0e6c98","type":"json","z":"171de6b4.e8e219","name":"","x":390,"y":140,"wires":[["e8a1c490.175e38"]]},{"id":"fbf338f0.040cc8","type":"mongodb in","z":"171de6b4.e8e219","mongodb":"112f1374.eed0ed","name":"","collection":"ttn","operation":"find","x":378.5,"y":300,"wires":[["d37d9420.2c8268"]]},{"id":"a20d9551.5df268","type":"http in","z":"171de6b4.e8e219","name":"GET /api/all","url":"/api/all","method":"get","swaggerDoc":"","x":129.5,"y":301,"wires":[["fbf338f0.040cc8"]]},{"id":"9a7d8134.65828","type":"http response","z":"171de6b4.e8e219","name":"","x":807.5,"y":297,"wires":[]},{"id":"d37d9420.2c8268","type":"function","z":"171de6b4.e8e219","name":"Content-Type","func":"msg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":630.5,"y":300,"wires":[["9a7d8134.65828"]]},{"id":"7cbd87c2.834278","type":"mqtt in","z":"d836b0cd.27c95","name":"TTN 02032201","topic":"nodes/02032201/packets","broker":"47189883.b8e768","x":100,"y":40,"wires":[["f8d1689b.072e98","aa2214f8.55dde8"]]},{"id":"4ec07692.b13f88","type":"mongodb out","z":"d836b0cd.27c95","mongodb":"c764263e.389bd8","name":"","collection":"ttn","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":530,"y":40,"wires":[]},{"id":"f8d1689b.072e98","type":"json","z":"d836b0cd.27c95","name":"","x":310,"y":40,"wires":[["4ec07692.b13f88"]]},{"id":"e46303f.f1b9d","type":"mongodb in","z":"d836b0cd.27c95","mongodb":"c764263e.389bd8","name":"","collection":"ttn","operation":"find","x":530,"y":200,"wires":[["130905d8.ecf6fa"]]},{"id":"55b5a0e9.aa4a6","type":"http in","z":"d836b0cd.27c95","name":"GET /api/all","url":"/api/all","method":"get","swaggerDoc":"","x":90,"y":200,"wires":[["e46303f.f1b9d"]]},{"id":"21b818ad.de47e8","type":"http response","z":"d836b0cd.27c95","name":"","x":890,"y":200,"wires":[]},{"id":"130905d8.ecf6fa","type":"function","z":"d836b0cd.27c95","name":"Content-Type","func":"msg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":200,"wires":[["21b818ad.de47e8"]]},{"id":"c45715ab.3ba8e8","type":"mongodb in","z":"d836b0cd.27c95","mongodb":"c764263e.389bd8","name":"","collection":"ttn","operation":"find","x":530,"y":320,"wires":[["db0e0530.24f1f8"]]},{"id":"ac9ea5ee.536158","type":"http in","z":"d836b0cd.27c95","name":"GET /api/:deviceID","url":"/api/:deviceID","method":"get","swaggerDoc":"","x":110,"y":320,"wires":[["979ed0b6.68613"]]},{"id":"cd1a6045.32e5a","type":"http response","z":"d836b0cd.27c95","name":"","x":890,"y":320,"wires":[]},{"id":"db0e0530.24f1f8","type":"function","z":"d836b0cd.27c95","name":"Content-Type","func":"msg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":320,"wires":[["cd1a6045.32e5a"]]},{"id":"979ed0b6.68613","type":"function","z":"d836b0cd.27c95","name":"deviceID as query","func":"msg.payload = { nodeEui : msg.req.params.deviceID };\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["c45715ab.3ba8e8"]]},{"id":"b627f876.49d808","type":"mqtt in","z":"d836b0cd.27c95","name":"TTN 02032222","topic":"nodes/02032222/packets","broker":"47189883.b8e768","x":100,"y":100,"wires":[["fd98f7ed.026708","aa2214f8.55dde8"]]},{"id":"92e1d36c.6d1e3","type":"mongodb out","z":"d836b0cd.27c95","mongodb":"c764263e.389bd8","name":"","collection":"ttn","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":530,"y":100,"wires":[]},{"id":"fd98f7ed.026708","type":"json","z":"d836b0cd.27c95","name":"","x":310,"y":100,"wires":[["92e1d36c.6d1e3"]]},{"id":"aa2214f8.55dde8","type":"debug","z":"d836b0cd.27c95","name":"","active":true,"console":"false","complete":"false","x":320,"y":160,"wires":[]}]
