node-red-flows/ttn-historical
[{"id":"42bff6e7.6f6858","type":"mongodb","z":"8964808d.c3d5d","hostname":"127.0.0.1","port":"27017","db":"ttn","name":""},{"id":"ae02831c.439fe","type":"mqtt-broker","z":"8964808d.c3d5d","broker":"croft.thethings.girovito.nl","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"637d6c15.f5fc84","type":"mqtt in","z":"8964808d.c3d5d","name":"TTN 02032201","topic":"nodes/02032201/packets","broker":"ae02831c.439fe","x":110,"y":51,"wires":[["a2047e96.a43708","2d2109f7.e97a56"]]},{"id":"bd321827.54f11","type":"mongodb out","z":"8964808d.c3d5d","mongodb":"42bff6e7.6f6858","name":"","collection":"historical","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":560,"y":51,"wires":[]},{"id":"a2047e96.a43708","type":"json","z":"8964808d.c3d5d","name":"","x":320,"y":51,"wires":[["bd321827.54f11"]]},{"id":"afbd5e5c.975b","type":"mongodb in","z":"8964808d.c3d5d","mongodb":"42bff6e7.6f6858","name":"","collection":"historical","operation":"find","x":560,"y":211,"wires":[["74d3ca0d.4dfce4"]]},{"id":"7f3e897c.bf2af8","type":"http in","z":"8964808d.c3d5d","name":"GET /api/all","url":"/api/all","method":"get","swaggerDoc":"","x":100,"y":211,"wires":[["afbd5e5c.975b"]]},{"id":"c491c6d3.fa9368","type":"http response","z":"8964808d.c3d5d","name":"","x":937.77783203125,"y":211,"wires":[]},{"id":"74d3ca0d.4dfce4","type":"function","z":"8964808d.c3d5d","name":"Content-Type","func":"msg.headers = {\"Content-Type\" : \"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":211,"wires":[["c491c6d3.fa9368"]]},{"id":"9a0a30ce.0728b","type":"http in","z":"8964808d.c3d5d","name":"GET /api/:deviceID","url":"/api/:deviceID","method":"get","swaggerDoc":"","x":120,"y":269.8888854980469,"wires":[["d1ed34bb.63c61"]]},{"id":"d1ed34bb.63c61","type":"function","z":"8964808d.c3d5d","name":"deviceID as query","func":"msg.payload = { nodeEui : msg.req.params.deviceID };\nreturn msg;","outputs":1,"noerr":0,"x":321.111083984375,"y":269.8888854980469,"wires":[["afbd5e5c.975b"]]},{"id":"6fb6632d.768844","type":"mqtt in","z":"8964808d.c3d5d","name":"TTN 02032222","topic":"nodes/02032222/packets","broker":"ae02831c.439fe","x":110,"y":111,"wires":[["2d2109f7.e97a56","a2047e96.a43708"]]},{"id":"2d2109f7.e97a56","type":"debug","z":"8964808d.c3d5d","name":"","active":true,"console":"false","complete":"false","x":428,"y":130,"wires":[]}]